.footer{
  display: flex;
  width: 1519px;
  height: 34px;
  left: 0px;
  top: 990px;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
bottom: 0;
position: absolute;
}

.footerSpan{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #000000;
}