.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
height: 34px;
background: #EEEEEE;
}

.footerSpan{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #000000;
}