
.cartList{
  margin-left: 10px;
  width: 379px;
  height: 95px;
  top:6px;
  background: #FFFFFF;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 28px;
}

.itemImage{
  width: 50px;
  height: 61px;
  top:304px;
  left:1022px;
  padding: 1rem;

}

.itemName{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #2C2C2C;
  align-items: center;
  justify-content: center;
  margin-right: 5px;

}

.text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 5px;
line-height: 6px;
color: #000000;
padding: 2px;
}

.itemProductQuantity{
  width: 50px;
  height:19px;
  top:44px;
  left: 212px;
  background: #FFFFFF;
  border: 0.3px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;


}

.iconQtd{
  background-color: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border: none;
  color: #000000;
}

.count{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center;
  justify-content: center;
}


.div{
padding-left: 2px;
padding-right: 2px;
padding-bottom: 3px;
color: #BFBFBF;
}

.itemProductTotalPrice{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  align-items: center;
  justify-content: center;

}

.buttonRemove{
    width: 18px;
    height: 18px;
    left: 367px;
    border-radius: 50px;
    background: #000000;
    margin-bottom: 76px;
  
}

.icon{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

}












